@model int
@using Microsoft.AspNetCore.Http


@{
    var UserPlan = Context.Session.GetString("UserPlan");
}
<div class="bg-light bg-gradient bg-opacity-50 py-3">
    <div class="steps-container mb-4">
        <ul class="nav justify-content-center stepmenu">
            <li class="nav-item  ">
                <span class="fs-5 badge rounded-pill @(Model == 1 ? "bg-primary" : "bg-secondary")" title="Awareness">1</span>
                <span class="d-none d-md-inline"><a style="font-family: sans-serif; text-decoration: none;color: black;"  href="/@UserPlan/Awareness"> Awareness</a></span>
            </li>
            <li class="nav-item d-flex justify-content-center align-items-center"><span class="mx-2">➝</span></li>
            <li class="nav-item">
                <span class="fs-5 badge rounded-pill @(Model == 2 ? "bg-primary" : "bg-secondary")" title="Wings">2</span>
                <span class="d-none d-md-inline"><a style="font-family: sans-serif; text-decoration: none;color: black;"  href="/@UserPlan/wings"> Wings</a></span>
            </li>
            <li class="nav-item d-flex justify-content-center align-items-center"><span class="mx-2">➝</span></li>
            <li class="nav-item">
                <span class="fs-5 badge rounded-pill @(Model == 3 ? "bg-primary" : "bg-secondary")" title="Alertness With Money & Time">3</span>
                <span class="d-none d-md-inline"><a style="font-family: sans-serif; text-decoration: none;color: black;"  href="/@UserPlan/Alertness">Alertness With Money & Time</a></span>
            </li>
            <li class="nav-item d-flex justify-content-center align-items-center"><span class="mx-2">➝</span></li>
            <li class="nav-item">
                <span class="fs-5 badge rounded-pill @(Model == 4 ? "bg-primary" : "bg-secondary")" title="Knowledge That Matters">4</span>
                <span class="d-none d-md-inline"><a style="font-family: sans-serif; text-decoration: none;color: black;"  href="/@UserPlan/KnowledgeThatMatters"> Knowledge That Matters</a></span>
            </li>
            <li class="nav-item d-flex justify-content-center align-items-center"><span class="mx-2">➝</span></li>
            <li class="nav-item">
                <span class="fs-5  badge rounded-pill @(Model == 5 ? "bg-primary" : "bg-secondary")" title=" Execution With Precision">5</span>
                <span class=" d-none d-md-inline"><a style="font-family: sans-serif; text-decoration: none;color: black;"  href="/@UserPlan/ExecutionWithPrecision"> Execution With Precision</a></span>
            </li>
            <li class="nav-item d-flex justify-content-center align-items-center"><span class="mx-2">➝</span></li>
            <li class="nav-item">
                <span class="fs-5 badge rounded-pill @(Model == 6 ? "bg-primary" : "bg-secondary")" title=" Invest In The Now">6</span>
                <span class="d-none d-md-inline"> <a style="font-family: sans-serif; text-decoration: none;color: black;"  href="/@UserPlan/Invest">Invest In The Now</a></span>
            </li>
        </ul>
    </div>
    <div class="progress mb-4">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: @(Model * 16.66)%;"></div>
    </div>
</div>
