@using FactFinderWeb.ModelsView
@model MVKnowledgeRisk
@{
    ViewData["Title"] = "Knowledge that matters";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style>
    .text-truncate-3 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .help-section h1.hlp {
        color: #007bff;
        margin-bottom: 15px;
    }

    .help-section h1 {
        color: #007bff;
        margin-bottom: 15px;
        float: left;
        width: 100%;
        border-bottom: 2px solid #007bff;
        padding-bottom: 5px;
    }

    .help-section p.parax span {
        font-weight: bold;
        font-size: 20px;
    }

    .riskk {
        color: #FF1D58;
    }

    .formfield {
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        color: #333;
        text-align: left;
    }
</style>

<div class="mt-4 ">
    @await Html.PartialAsync("_StepProgress", 4)
    <div style="background-color: #E6E6FA" class="px-4 py-2 g-4 rounded d-flex flex-column gap-3">
        <div class="d-flex justify-content-between align-items-center" style="color:#006400;">
            <h2 class="mb-0" style="width: 80%;">4. Knowledge That Matters</h2>
            <a href="javascript:void(0);" onclick="submitFormAsSave()" class="btn btn-primary px-2 py-1 rounded">Save</a>
        </div>
    </div>

    <div style="background-color: 	#fcfcff" class="px-4  py-2 g-4 rounded d-flex flex-column gap-3">
        <div class="d-flex justify-content-end mt-1 mx-3 bg-light ">
            @if (ViewData["msg"] != null)
            {
                <p style="color: green;">@ViewData["msg"]</p>
            }
        </div>
    </div>


    <!-- form -->
    <form id="mainForm" style="background-color: #F5F5F5" class="mt-2 p-3 d-flex flex-column gap-4  rounded" asp-controller="Comprehensive" asp-action="KnowledgeThatMatters">
        <!--plan details -->
        <fieldset class="d-flex flex-column gap-2">
            <legend style="color: #3B3737" class="fw-bold">Risk Profile</legend>
            <div style="color:	#006400" class="row g-3 justify-content-md-center">
                <div class="col-12 col-md-3  mx-0 mx-md-2  formfield">
                    <label class="form-label d-flex align-items-center gap-1" asp-for="@Model.RiskTolerance">
                        Your Risk Tolerance<span class="text-danger fw-bold ">*</span>
                    </label>
                    <select asp-for="@Model.RiskTolerance" class="form-select outline-none w-fit rounded-lg mx-[10%] float-end peer focus:outline-secondary">
                        <option value="">Select</option>
                        <option value="Conservative">Conservative</option>
                        <option value="Moderately Conservative">Moderately Conservative</option>
                        <option value="Moderate">Moderate</option>
                        <option value="Moderately Aggressive">Moderately Aggressive</option>
                        <option value="Aggressive">Aggressive</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.RiskTolerance, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-md-3  mx-0 mx-md-2  formfield">

                    <label class="form-label d-flex align-items-center gap-1" asp-for="@Model.RiskCapacity">
                        Your Risk Capacity<span class="text-danger fw-bold ">*</span>
                    </label>
                    <select asp-for="@Model.RiskCapacity" class="form-select outline-none w-[40%] rounded-lg mx-[26%] float-end peer focus:outline-secondary">
                        <option value="">Select</option>
                        <option value="Low">Low</option>
                        <option value="Moderate">Moderate</option>
                        <option value="High">High</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.RiskCapacity, "", new { @class = "text-danger" })
                </div>

                <div class="col-12 col-md-3  mx-0 mx-md-2  formfield">

                    <label class="form-label d-flex align-items-center gap-1" asp-for="@Model.RiskRequirement">
                        Your Risk Requirement<span class="text-danger fw-bold ">*</span>
                    </label>
                    <select asp-for="@Model.RiskRequirement" class="form-select outline-none w-[40%] rounded-lg mx-[26%] float-end peer focus:outline-secondary">
                        <option value="">Select</option>
                        <option value="Low">Low</option>
                        <option value="Moderate">Moderate</option>
                        <option value="High">High</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.RiskRequirement, "", new { @class = "text-danger" })
                </div>


            </div>
            @{
                /* This section is commented out  for future use if needed
                <div style="color:	#006400" class="row g-3">

                <div class="col-12 col-md-4 formfield">

                <label class="form-label d-flex align-items-center gap-1" asp-for="@Model.RiskRequirement">
                Overall Risk Profile
                </label>
                <input asp-for="@Model.RiskRequirement" class="form-control inputnumyr outline-none w-fit rounded-lg mx-[10%] float-end peer focus:outline-secondary" readonly required maxlength="4" type="text" id="Overallriskprofile" name="Overallriskprofile" value="@Model.RiskRequirement" />
                </div>

                <div class="col-12 col-md-4 formfield">

                <label class="form-label d-flex align-items-center gap-1" asp-for="@Model.RiskRequirement">
                Financial Planner's Assessement on Risk Pofile
                </label>
                <select asp-for="@Model.RiskRequirement" class="form-select outline-none w-[40%] rounded-lg mx-[26%] float-end peer focus:outline-secondary">
                <option value="">Select</option>
                <option value="Conservative">Conservative</option>
                <option value="Moderately Conservative">Moderately Conservative</option>
                <option value="Moderate">Moderate</option>
                <option value="Moderately Aggressive">Moderately Aggressive</option>
                <option value="Aggressive">Aggressive</option>
                </select>
                </div>
                </div>
                */
            }
        </fieldset>

        <div class="d-flex justify-content-end mt-3 mx-2 ">
            <a asp-action="Alertness" class="btn btn-secondary  px-2 py-1 rounded mx-1">Previous</a>

            <button name="btnSubmit" id="btnSubmit" class="btn btn-primary px-3 py-1 rounded  mx-2">Next</button>
            @Html.AntiForgeryToken()
        </div>
        <div class="d-flex justify-content-end mt-1 mx-5 ">
            <span id="spmsg" class="d-none"></span>
            <span>
                Please refer the following definitions or contact your advisor for more clarity.
            </span>
        </div>

    </form>

    <div class="d-flex justify-content-center align-items-center mt-3">
        <div class="row d-flex">
            <div class="col-lg-12 col-sm-12 col-xs-12 help-section">
                <h1 class="hlp">Help</h1>
                <p class="parax"><span class="riskk">Risk Tolerance-</span> This is as per the risk tolerance survey provided by "Mainstream Investments Services". This score shows your psychological comfort level with the associated risk level in your financial dealings including investments. </p>
                <p class="parax"><span class="riskk">Risk Capacity-</span> Risk capacity depends on your income, your age, how reliable your present job is, number of family members dependent on your income, your liabilities etc. So if your income is good, job/business is reasonably secure, don't have high liabilities, good number of years left till retirement and not a large family to take care of financially, then your risk capacity can be considered "High". The other two categories are "Moderate" and "Low".</p>
                <p class="parax"><span class="riskk">Risk Requirement-</span> This means how much risk you need to take in order to achieve your goals. For example, if your goals are such that they can be achieved only by attaining a high rate of return on your investments, then your risk requirement can be considered as "High". The other two categories are "Moderate" and "Low". You can equate "Risk Requirement" with asking run rate in the limited overs cricket. If the target is steep, then the chasing team requires to take more risk and increase the run rate.</p>
                
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script> 
        $(document).ready(function () {  
            const $input = $('.inputper');
            $('#toggleBtn').click(function () {
                $('#infoPara').toggleClass('text-truncate-3');

                if ($('#infoPara').hasClass('text-truncate-3')) {
                    $(this).text('View More');
                } else {
                    $(this).text('View Less');
                }
            });

        });

            function submitFormAsSave() {
                var form = document.getElementById("mainForm");
                if (!form) {
                    console.error("Form not found");
                    return;
                }

                var input = document.createElement("input");
                input.type = "hidden";
                input.name = "btnSubmit";
                input.value = "Save";
                form.appendChild(input);

                form.submit();
            }
    </script>
    <partial name="_ValidationScriptsPartial" />

}
